<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台</title>
    <link rel="stylesheet" href="/static/admin/css/dashicons.css">
    <link rel="stylesheet" href="/static/admin/css/style.css">
    <script src="/static/admin/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap wrap-article">
    <h1>栏目管理</h1>
    <div class="tips"></div>
    <div class="box">
        <div class="box-body">
            <table>
                <tr class="center"><th >栏目序号</th><th >栏目名称</th><th >操作</th></tr>

                {foreach $categories as $category}
                <tr>
                <td class="center"  >{$category.sort}</td>
                <td class="center" >{$category.name}</td>
                <td class="center">
                    <a href={:url('CategoryEdit/cp_category_edit',['id' => $category.id])}>编辑</a>
                    <a href={:url('CategoryEdit/cp_category_del',['id' => $category.id])} class="jq-del">删除</a>
                </td>
                </tr>
                {/foreach}
            </table>
            <td ><a href={:url('CategoryEdit/add_category')}>添加栏目</a></td>
        </div>
    </div>
</div>

</body>
</html>