<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="PHP,内容,管理">
    <meta name="description" content="PHP内容管理系统">
    <title>首页 - 内容管理系统</title>
    <link rel="stylesheet" href="/static/index/css/style.css">
    <script src="/static/index/js/jquery.min.js"></script>

    <script>
        //启动事件
        $(function(){
            //导航栏自动收起来
            (function(){
                var $body = $("body");
                var $top = $(".top-container");
                var $nav = $(".top-nav");
                var ckWidth = $(".top-logo").width() + 5;
                var flag = true;
                getNavWidth();  //获取导航条宽度
                navChange();    //根据宽度判断是否收起
                $(window).resize(navChange);  //当文档宽度发生改变时，判断是否收起
                function navChange(){
                    if($top.width() < ckWidth){
                        //收起来
                        if(flag){
                            $nav.hide();
                            $body.addClass("jq-toggle-cls");
                            flag = false;
                        }
                    }else if(!flag){
                        $nav.show();
                        $body.removeClass("jq-toggle-cls");
                        flag = true;
                    }
                }
                //单击展开按钮
                $(".jq-toggle-btn").click(function(){
                    $(".top-nav").slideToggle(200);
                });
                //获取导航条宽度
                function getNavWidth(){
                    $nav.find("a").each(function(){
                        ckWidth += $(this).outerWidth(true);
                    });
                }
            })();
            //幻灯片切换
            (function(){
                var $slideWrap = $(".slide-wrap");     //外层容器
                var $imgWrap = $(".slide-wrap ul");    //图片容器
                var $barLi = $('.slide-circle li');    //小圆点按钮
                var speed = 700;  //动画时间
                var delay = 6000; //自动切换的间隔时间
                var now = 0;      //当前显示的图片索引
                var height = 0;   //图片高度
                var ratio = 24 / 7;        //计算比例 24:7
                var max = $barLi.length-1; //图片的最大索引
                var timer = null;          //计时器
                //根据宽度自动计算高度
                autoResize();
                $(window).resize(autoResize); //当文档宽度改变时自动修改高度值
                function autoResize(){
                    height = parseInt($slideWrap.width() / ratio);
                    $slideWrap.height(height);
                }
                //复制列表中的第一个图片，追加到列表最后
                $imgWrap.find('li:first').clone().appendTo($imgWrap);
                //设置周期计时器，实现图片自动切换
                timer = setInterval(autoChange,delay);
                //鼠标滑过时暂停移动，移出时恢复移动
                $('.slide').on({
                    mouseenter:function(){
                        clearInterval(timer);
                    },
                    mouseleave:function(){
                        clearInterval(timer);
                        timer = setInterval(autoChange,delay);
                    }
                });
                //鼠标滑过小圆点切换图片
                $barLi.mouseenter(function(){
                    now = $(this).index(); //当前要显示的索引
                    $imgWrap.stop(); //先停止动画
                    changeNext(); //切换图片
                    changeBar(); //切换小圆点
                });
                //图片自动切换
                function autoChange(){
                    if(!$imgWrap.is(':animated')){
                        //判断是否达到图片列表末尾
                        if(now < max){
                            now += 1;
                            changeNext();
                        }else{
                            now = 0;
                            changeReset();
                        }
                        changeBar();
                    }
                }
                //切换到下一张图片
                function changeNext(){
                    $imgWrap.animate({top:-height*now},speed);
                }
                //切换到第一张图片
                function changeReset(){
                    $imgWrap.animate({top:-height*(max+1)},speed,function(){
                        $(this).css("top",0);
                    });
                }
                //小圆点切换
                function changeBar(){
                    $barLi.eq(now).addClass("on").siblings().removeClass("on");
                }
            })();
        });
    </script>
</head>
<body>
<!--页面顶部-->
<div class="top">
    <div class="top-container">
        <div class="top-logo">
            <a href=".."><img src="/static/index/image/logo.png" alt="内容管理系统"></a>
        </div>
        <div class="top-nav">
            <a href=".." class="curr">首页</a>

            <a href="list.php?cid=1" class="">生活</a>
            <a href="list.php?cid=2" class="">资讯</a>
            <a href="list.php?cid=3" class="">编程</a>
            <a href="list.php?cid=4" class="">互联网</a>
            <a href="about.php" class="">联系我们</a>
        </div>
        <div class="top-toggle jq-toggle-btn"><i></i><i></i><i></i></div>
    </div>
</div>
<!--页面内容-->
<div class="main">
    <!-- 幻灯片模块 -->
    <div class="slide">
        <div class="slide-wrap">
            <ul>
                <li><a href="#"><img src="/static/index/image/20.jpg" alt="点击查看"></a></li>
                <li><a href="#"><img src="/static/index/image/21.jpg" alt="点击查看"></a></li>
                <li><a href="#"><img src="/static/index/image/22.jpg" alt="点击查看"></a></li>
            </ul>
        </div>
        <ul class="slide-circle">
            <li class="on"></li>
            <li></li>
            <li></li>
        </ul>
    </div>	<!-- 文章列表模块 -->
    <div class="main-body">
        <div class="main-wrap">
            <div class="main-left">
                <div class="al">
                    {foreach $articles as $article}
                    <div class="al-each">
                        <div class="al-info"><a href={:url('Index/show',['id' => $article.id])}>{$article.a_title}</a></div>
                        <div class="al-desc">{$article.a_summary}</div>
                        <div class="al-more">
                            <span>作者：{$article.a_author} | 发表于：{$article.update_date}</span>
                            <a href={:url('Index/show',['id' => $article.id])}>查看原文</a>
                        </div>
                    </div>
                    {/foreach}



                    <div class="pagelist"><span>首页</span><span>上一页</span><a href="?page=1" class="curr">1</a><a href="?page=2">2</a><a href="?page=2">下一页</a><a href="?page=2">尾页</a></div>
                </div>							</div>
            <div class="main-right">
                <div class="si">
                    <!-- 栏目列表 -->
                    <div class="si-each">
                        <div class="si-title">内容栏目</div>
                        <div class="si-p1">
                            {foreach $categories as $category}
                            <a href="list.php?cid=1" title="生活">{$category.name}</a>
                            {/foreach}

                        </div>
                    </div>
                    <!-- 浏览历史 -->
                    <div class="si-each">
                        <div class="si-title">浏览历史</div>
                        <div class="si-p2">
                            <p><a href="show.php?id=6">PHP学科：MySQL手册免费分享</a></p>
                            <p><a href="show.php?id=5">前端必学框架Bootstrap，3天带你从入门到精通，免费分享！</a></p>
                            <p><a href="show.php?id=3">PHP进阶：要想提高PHP的编程效率，你必须知道的49个要点</a></p>
                            <p><a href="show.php?id=1">这是第一篇文章</a></p>
                            <p><a href="show.php?id=4">想少走弯路，就看看这个贴：PHPer职业发展规划与技能需求！</a></p>
                            <p><a href="show.php?id=2">最涨薪PHP项目—PHP微信公众平台开发</a></p>
                        </div>
                    </div>
                    <!-- 最热文章 -->
                    <div class="si-each">
                        <div class="si-title"><span class="si-p3-top">TOP 10</span> 热门文章</div>
                        <div class="si-p3">
                            <p><a href="show.php?id=6">PHP学科：MySQL手册免费分享</a></p>
                            <p><a href="show.php?id=1">这是第一篇文章</a></p>
                            <p><a href="show.php?id=4">想少走弯路，就看看这个贴：PHPer职业发展规划与技能需求！</a></p>
                            <p><a href="show.php?id=5">前端必学框架Bootstrap，3天带你从入门到精通，免费分享！</a></p>
                            <p><a href="show.php?id=3">PHP进阶：要想提高PHP的编程效率，你必须知道的49个要点</a></p>
                            <p><a href="show.php?id=2">最涨薪PHP项目—PHP微信公众平台开发</a></p>
                        </div>
                    </div>
                </div>			</div>
        </div>
    </div>
</div>
<!--页面尾部-->
<div class="footer">
    PHP内容管理系统　本系统仅供参考和学习
    <a href="/index/index/login" >@后台登陆</a>
</div>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>