<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="PHP,内容,管理">
    <meta name="description" content="欢迎使用 PHP内容管理系统。">
    <title>这是第一篇文章 - 内容管理系统</title>
    <link rel="stylesheet" href="/static/index/css/style.css">
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/index/js/common.js"></script>
</head>
<body>
<!--页面顶部-->
<div class="top">
    <div class="top-container">
        <div class="top-logo">
            <a href="/"><img src="/static/index/image/logo.png" alt="内容管理系统"></a>
        </div>
        <div class="top-nav">
            <a href="./" class="">首页</a>
            <a href="list.php?cid=1" class="">生活</a>
            <a href="list.php?cid=2" class="">资讯</a>
            <a href="list.php?cid=3" class="curr">编程</a>
            <a href="list.php?cid=4" class="">互联网</a>
            <a href="about.php" class="">联系我们</a>
        </div>
        <div class="top-toggle jq-toggle-btn"><i></i><i></i><i></i></div>
    </div>
</div>
<!--页面内容-->
<div class="main">
    <!-- 幻灯片模块 -->
    <!-- 文章列表模块 -->
    <div class="main-body">
        <div class="main-wrap">
            <div class="main-left">
                <div class="as">
                    <div class="as-title"><h1>{$article.a_title}</h1></div>
                    <div class="as-row">
                        <span>栏目：<a href="list.php?cid=6">{$article.a_col}</a></span>
                        <span>作者：{$article.a_author}</span>
                        <span>发表时间：{$article.update_date}</span><span>阅读：15次</span>
                    </div>
                    <div align="center" >
                        <img src="/upload/image/{$article.a_picture}" alt="文章图片" style="width: 80%; height: 80%;">
                    </div>

                    <div class="as-content"><p>{$article.a_content}</p></div>
                </div>
            </div>
            <div class="main-right">
                <div class="si">
                    <!-- 栏目列表 -->
                    <div class="si-each">
                        <div class="si-title">内容栏目</div>
                        <div class="si-p1">
                            {foreach $categories as $category}
                            <a href="list.php?cid=1" title="生活">{$category.name}</a>
                            {/foreach}
                        </div>
                    </div>
                    <!-- 浏览历史 -->
                    <div class="si-each">
                        <div class="si-title">浏览历史</div>
                        <div class="si-p2">
                            <p><a href="show.php?id=1">这是第一篇文章</a></p>
                            <p><a href="show.php?id=2">最涨薪PHP项目—PHP微信公众平台开发</a></p>
                            <p><a href="show.php?id=3">PHP进阶：要想提高PHP的编程效率，你必须知道的49个要点</a></p>
                            <p><a href="show.php?id=4">想少走弯路，就看看这个贴：PHPer职业发展规划与技能需求！</a></p>
                            <p><a href="show.php?id=5">前端必学框架Bootstrap，3天带你从入门到精通，免费分享！</a></p>
                            <p><a href="show.php?id=6">PHP学科：MySQL手册免费分享</a></p>
                        </div>
                    </div>
                    <!-- 最热文章 -->
                    <div class="si-each">
                        <div class="si-title"><span class="si-p3-top">TOP 10</span> 热门文章</div>
                        <div class="si-p3">
                            <p><a href="show.php?id=6">PHP学科：MySQL手册免费分享</a></p>
                            <p><a href="show.php?id=1">这是第一篇文章</a></p>
                            <p><a href="show.php?id=4">想少走弯路，就看看这个贴：PHPer职业发展规划与技能需求！</a></p>
                            <p><a href="show.php?id=5">前端必学框架Bootstrap，3天带你从入门到精通，免费分享！</a></p>
                            <p><a href="show.php?id=2">最涨薪PHP项目—PHP微信公众平台开发</a></p>
                            <p><a href="show.php?id=3">PHP进阶：要想提高PHP的编程效率，你必须知道的49个要点</a></p>
                        </div>
                    </div>
                </div>			</div>
        </div>
    </div>
</div>
<!--页面尾部-->
<div class="footer">PHP内容管理系统　本系统仅供参考和学习<a href='login.php'>@后台登陆</a></div>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>